<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="main" class="alt">

      <section id="one">
        <div class="inner">
          {% for post in site.posts %}
          {% if post.title != 404 %}
          <div class="post-container">
            <header class="major">
              <h1>{{ post.title }}</h1>
            </header>
            <button class="toggle-button">Toggle</button>
            <div class="post-content">
              {% if post.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>{% endif %}
              {% if post.date %}<p>{{ post.date }}</p>{% endif %}
              <p>{{ post.content }}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </section>

    </div>

    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        let buttons = document.querySelectorAll('.toggle-button');
        buttons.forEach(button => {
          button.addEventListener('click', (event) => {
            let content = event.target.nextElementSibling;
            content.style.display = (content.style.display === 'none' || content.style.display === '') ? 'block' : 'none';
          });
        });
      });
    </script>

    {% include footer.html %}

  </body>

</html>
