<!DOCTYPE html>
<!-- ... rest of your comments and header ... -->

<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
    <div class="inner">
        <!-- Webpage Title -->
        <header class="major">
          <h1>All Posts</h1>
        </header>

          {% for post in site.posts %}
      {% if post.title != 404 and post.title != "project01.md" %}
      <div class="post-summary">
            <div class="post-title">
            <div style="display: flex; justify-content: space-between;">
                <!-- Changed post title to h2 -->
                <h2 style="margin: 0;">{{post.title}}</h2>
                <button class="toggle-button" onclick="toggleContent(this)">Show Content</button>
            </div>
            <div class="post-content" style="display:none;">
                {% if post.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>{% endif %}
                {% if post.date %}<p>{{ post.date }}</p>{% endif %}
                <p>{{ post.content }}</p>
            </div>
        </div>
           <br>
          </div>
      {% endif %}
          {% endfor %}
    </div>
      </section>

    </div>

    {% include footer.html %}

  </body>

  <!-- Include this script before closing the body tag -->
  <script type="text/javascript">
    function toggleContent(button) {
      var content = button.parentElement.nextElementSibling;
      if(content.style.display === "none" || content.style.display === "") {
        content.style.display = "block";
        button.innerText = "Hide Content";
      } else {
        content.style.display = "none";
        button.innerText = "Show Content";
      }
    }
  </script>

</html>
