<!DOCTYPE html>
<!-- ... rest of your comments and header ... -->

<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
	<div class="inner">
          {% for post in site.posts %}
	  {% if post.title != 404 %}
	  <div class="post-summary">
            <div class="post-title">
		<h1>{{ post.title }}</h1><button class="toggle-button" onclick="toggleContent(this)">Toggle Content</button>
            <div class="post-content" style="display:none;">
	      {% if post.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>{% endif %}
	      {% if post.date %}<p>{{ post.date }}</p>{% endif %}
	      <p>{{ post.content }}</p>
            </div>
            </div>
          </div>
	  {% endif %}
          {% endfor %}
	</div>
      </section>

    </div>

    {% include footer.html %}

  </body>

  <!-- Include this script before closing the body tag -->
  <script type="text/javascript">
    function toggleContent(button) {
      var content = button.nextElementSibling;
      if(content.style.display === "none" || content.style.display === "") {
        content.style.display = "block";
        button.innerText = "Hide Content";
      } else {
        content.style.display = "none";
        button.innerText = "Toggle Content";
      }
    }
  </script>

</html>
